body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(43, 43, 43);
  color: royalblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20vh; */;
  justify-content: center;
}

.container.chatbot {
  align-items: flex-end;
  justify-content: flex-start;
}

button {
  padding: 4px 20px;
  border-radius: 11px;
  font-size: x-large;
}

a {
  color: deepskyblue
}

h1 {
  font-size: 69px;
}


/* customizing chatbot */
.react-chatbot-kit-chat-container {
  width: 470px !important;
}

.react-chatbot-kit-chat-inner-container {
  background-color: darkgrey !important;
}

.react-chatbot-kit-chat-header {
  background-color: burlywood !important;
  font-size: x-large !important;
}

.action.btn {
  width: fit-content;
  align-self: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset label,
fieldset input,
fieldset p,
select.age-group {
  font-size: x-large !important;
}

select.age-group,
fieldset input {
  font-size: xx-large !important;
}

fieldset input {
  width: 100%;
}

fieldset p {
  font-size: large !important;
  margin: 2px 0 !important;
}

.react-chatbot-kit-chat-message-container {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.react-chatbot-kit-chat-bot-message {
  width: max-content !important;
  margin-left: 9px !important;
  font-size: 17px !important;
}