.layout-header {
    background-color: burlywood;
    color: darkslategrey;
    font-size: 42px;
    text-align: center;
    padding: 42px;
}

.layout-footer {
    background-color: darkslategrey;
    color: lightblue;
    font-size: 36px;
    text-align: center;
    padding: 29px;
}