.header-layout {
    background-color: burlywood;
    color: darkblue;
    font-size: 36px;
    text-align: center;
    padding: 29px;
}

.footer-layout {
    background-color: darkblue;
    color: burlywood;
    font-size: 39px;
    text-align: center;
    padding: 20px;
}